body {
    font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
    text-size-adjust:100%;
    -webkit-font-smoothing: antialiased;
    background-color: whitesmoke;
    color: #444;
}
.main-wrapper {
    width: 93.75%;
    margin: 0 auto;
}


h1, h2, h3 {
    font-weight: 100;
}
p {
    color: $black;
}
.meta {
    h1 {
        font-size: 3em;
        padding: 0;
        margin: 0;
        font-weight: 100;
    }
    h3 {
        text-transform: uppercase;
        font-size: .75em;
    }
}

a, a:link, a:hover, a:visited {
   color: $black;
}
// Below is a sample use of the mini grid system and the Pure css framework
// THe mini grid can be found in _utils.scss
.mod {
    background-color: lightblue;
    .mod {
        background-color: tomato;
    }
}

// Opt-in flexible padding per breakpoint
.flex-pad {
    @include flexPad($medium-bkp);
}
.col-ab {
    @include setCol(none, auto);
    @include breakpoint($medium-bkp, $no-query: $no-mq-ie){
        @include setCol(left, $u-2-3);
    }
}

.col-c {
    @include setCol(none, auto);
    @include breakpoint($medium-bkp, $no-query: $no-mq-ie) {
        @include setCol(left, $u-1-3);
    }
}

.col-half {
    @include setCol(none, auto);
    text-align: center;
    @include breakpoint($medium-bkp, $no-query: $no-mq-ie){
        @include setCol(left, $u-1-2);
    }
}

.col-tile {
    @include setCol(none, auto);
    text-align: center;
    @include breakpoint($medium-bkp, $no-query: $no-mq-ie){
        @include setCol(left, $u-1-4);
    }
}
.article {
    width: auto;
    background-color: tomato;
    color: whitesmoke;

    .article {
        font-size: .75em;
        background-color: whitesmoke;
        color: tomato;
    }
}
.button {
    @extend .pure-button;
    margin: 0 .5em;
}

.primary-button {
    @extend .pure-button-primary;
}

.button-small {
    @extend .pure-button;
    font-size: 50%;
}

.button-large {
    @extend .pure-button;
    font-size: 150%;
}


.form {
    @extend .pure-form;

    button[type="submit"] {
        margin: 0;
    }
}

.form-stacked {
    @extend .pure-form-stacked;
}
